<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mib.db.mybatis.mapper.FolderMapper">

    <resultMap id="folderResult" type="org.mib.db.model.Folder">
        <id property="id" column="id" />
        <result property="projectId" column="project_id" />
        <result property="name" column="name" />
        <result property="description" column="description" />
        <result property="createdAt" column="created_at" />
    </resultMap>

    <select id="getFolder" resultMap="folderResult">
        select * from folder where id = #{id}
    </select>

    <select id="countOfFolders" resultType="java.lang.Long">
        select count(id) from folder
        <where>
            <if test="params.filters != null">
                <foreach collection="params.filters" open=" and " separator=" and " item="item" index="index">
                    `${item.field}` ${item.operator.expr} #{item.value}
                </foreach>
            </if>
            <if test="params.ins != null">
                <foreach collection="params.ins" open=" and " separator=" and " item="item" index="index">
                    `${index}` in
                    <foreach collection="item" index="subIndex" item="subItem" open="(" separator="," close=")">
                        #{subItem}
                    </foreach>
                </foreach>
            </if>
        </where>
    </select>

    <select id="listFolders" resultMap="folderResult">
        select * from folder
        <where>
            <if test="params.filters != null">
                <foreach collection="params.filters" open=" and " separator=" and " item="item" index="index">
                    `${item.field}` ${item.operator.expr} #{item.value}
                </foreach>
            </if>
            <if test="params.ins != null">
                <foreach collection="params.ins" open=" and " separator=" and " item="item" index="index">
                    `${index}` in
                    <foreach collection="item" index="subIndex" item="subItem" open="(" separator="," close=")">
                        #{subItem}
                    </foreach>
                </foreach>
            </if>
        </where>
        <if test="params.sorters != null">
            <foreach collection="params.sorters" open="order by" separator="," item="item" index="index">
                `${item.field}` ${item.order.name}
            </foreach>
        </if>
        limit #{params.limit} offset #{params.offset}
    </select>

    <update id="updateFolder">
        update folder
        <set>
            <if test="folder.name != null">name=#{folder.name},</if>
            <if test="folder.description != null">description=#{folder.description},</if>
        </set>
        where id=#{folder.id}
    </update>

    <delete id="deleteFolders">
        delete from folder where id in
        <foreach collection="ids" open="(" close=")" separator="," item="item" index="index">
            #{item}
        </foreach>
    </delete>

</mapper>