<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mib.db.mybatis.mapper.ProjectMapper">

    <resultMap id="projectResult" type="org.mib.db.model.Project">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="description" column="description" />
        <result property="createdAt" column="created_at" />
    </resultMap>

    <select id="getProject" resultMap="projectResult">
        select * from project where id = #{id}
    </select>

    <select id="countOfProjects" resultType="java.lang.Long">
        select count(id) from project
        <where>
            <if test="params.filters != null">
                <foreach collection="params.filters" open=" and " separator=" and " item="item" index="index">
                    `${item.field}` ${item.operator.expr} #{item.value}
                </foreach>
            </if>
            <if test="params.ins != null">
                <foreach collection="params.ins" open=" and " separator=" and " item="item" index="index">
                    `${index}` in
                    <foreach collection="item" index="subIndex" item="subItem" open="(" separator="," close=")">
                        #{subItem}
                    </foreach>
                </foreach>
            </if>
        </where>
    </select>

    <select id="listProjects" resultMap="projectResult">
        select * from project
        <where>
            <if test="params.filters != null">
                <foreach collection="params.filters" open=" and " separator=" and " item="item" index="index">
                    `${item.field}` ${item.operator.expr} #{item.value}
                </foreach>
            </if>
            <if test="params.ins != null">
                <foreach collection="params.ins" open=" and " separator=" and " item="item" index="index">
                    `${index}` in
                    <foreach collection="item" index="subIndex" item="subItem" open="(" separator="," close=")">
                        #{subItem}
                    </foreach>
                </foreach>
            </if>
        </where>
        <if test="params.sorters != null">
            <foreach collection="params.sorters" open="order by" separator="," item="item" index="index">
                `${item.field}` ${item.order.name}
            </foreach>
        </if>
        limit #{params.limit} offset #{params.offset}
    </select>

    <update id="updateProject">
        update project
        <set>
            <if test="project.name != null">name=#{project.name},</if>
            <if test="project.description != null">description=#{project.description},</if>
        </set>
        where id=#{project.id}
    </update>

    <delete id="deleteProjects">
        delete from project where id in
        <foreach collection="ids" open="(" close=")" separator="," item="item" index="index">
            #{item}
        </foreach>
    </delete>

</mapper>